# Node
node_modules/
dist/
.env

# Prisma (SQLite e cliente)
prisma/dev.db
prisma/dev.db-journal
/src/generated/         # se você for usar geração de código
/src/generated/prisma   # específico do prisma se usado

# Logs
logs/
*.log
npm-debug.log*

# VSCode
.vscode/

# OS/Bash
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
